@import "~antd/dist/antd.css";

.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.app-header-title {
  font-size: 64px;
  font-weight: bolder;
  color: white;
  height: auto;
  padding: 48px;
  font-family: "Stalinist One", cursive;
}

.app-content {
  margin: 36px 0;
  padding: 0 calc(5% + 20px);
  height: auto;
}
